<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">
      Connect and Collaborate
    </h1>
    <br />
    <p class="lead">
      Here are some of the apps you can connect with
    </p>
    <hr class="my-4" />
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <div style="text-align: center;">
                <a
                  class="btn"
                  href="https://github.com/technologic808"
                  target="_blank"
                  role="button"
                >
                  <fa-icon [icon]="faGithubSquare" size="8x"></fa-icon>
                </a>
              </div>
            </h5>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <div style="text-align: center;">
                <a
                  class="btn"
                  href="https://steamcommunity.com/id/technologic808/"
                  target="_blank"
                  role="button"
                >
                  <fa-icon [icon]="faSteamSquare" size="8x"></fa-icon>
                </a>
              </div>
            </h5>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <div style="text-align: center;">
                <a
                  class="btn"
                  href="https://www.linkedin.com/in/venky808/"
                  target="_blank"
                  role="button"
                >
                  <fa-icon [icon]="faLinkedin" size="8x"></fa-icon>
                </a>
              </div>
            </h5>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <div style="text-align: center;">
                <a
                  class="btn"
                  href="https://www.instagram.com/_venky/"
                  target="_blank"
                  role="button"
                >
                  <fa-icon [icon]="faInstagramSquare" size="8x"></fa-icon>
                </a>
              </div>
            </h5>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <div style="text-align: center;">
                <a
                  class="btn"
                  href="https://www.youtube.com/user/venkys321"
                  target="_blank"
                  role="button"
                >
                  <fa-icon [icon]="faYoutubeSquare" size="8x"></fa-icon>
                </a>
              </div>
            </h5>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <div style="text-align: center;">
                <a
                  class="btn"
                  href="mailto:contact@technologic.dev?subject=Hi There!"
                  target="_blank"
                  role="button"
                >
                  <fa-icon [icon]="faEnvelopeSquare" size="8x"></fa-icon>
                </a>
              </div>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
